@import "./reset.css";
@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

html {
  font-size: 62.5%;
  font-family: "Instrument Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--clr-alabaster);
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
