.nolink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.nolink__text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  text-align: center;
}
